
CONFIG_ALL=y
CONFIG_DOCKER_CGROUP_OPTIONS=y
CONFIG_DOCKER_OPTIONAL_FEATURES=y
CONFIG_DOCKER_NET_OVERLAY=y
CONFIG_DOCKER_NET_ENCRYPT=y
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_TFTP=y
CONFIG_DOCKER_STO_EXT4=y
CONFIG_DOCKER_STO_BTRFS=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_dnsforwarder=y
CONFIG_PACKAGE_TURBOACC_INCLUDE_OFFLOADING=n
CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE=y
