CONFIG_PACKAGE_autocore-x86=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=n
# Chinese Language Support
CONFIG_LUCI_LANG_zh-cn=y
#  Applications
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-cpufreq=n
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-diskman=n
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_linear=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_kmod_md_raid456=y
# CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-qbittorrent=n
CONFIG_PACKAGE_luci-app-qbittorrent_static=n
CONFIG_PACKAGE_luci-app-qbittorrent=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-ssr-plus=n
CONFIG_PACKAGE_luci-app-turboacc=n
CONFIG_PACKAGE_TURBOACC_INCLUDE_dnsforwarder=n
CONFIG_PACKAGE_luci-app-ttyd=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-uugamebooster=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-vssr=n
CONFIG_PACKAGE_luci-app-wireguard=n
CONFIG_PACKAGE_luci-app-webadmin=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
CONFIG_PACKAGE_luci-app-zerotier=n
CONFIG_PACKAGE_luci-theme-atmaterial=y

## Protocols
CONFIG_PACKAGE_luci-proto-3g=m
CONFIG_PACKAGE_luci-proto-bonding=y
CONFIG_PACKAGE_luci-proto-ipip=y
CONFIG_PACKAGE_luci-proto-openconnect=y
CONFIG_PACKAGE_luci-proto-relay=m
CONFIG_PACKAGE_luci-proto-vpnc=m
##Block Devices
CONFIG_PACKAGE_kmod-dax=m
CONFIG_PACKAGE_kmod-dm=m
CONFIG_PACKAGE_kmod-md-mod=m
CONFIG_PACKAGE_kmod-scsi-core=m
CONFIG_PACKAGE_kmod-dm-raid=m
CONFIG_PACKAGE_kmod-ata-nvidia-sata=m
## Filesystems
CONFIG_PACKAGE_kmod-fs-btrfs=m
CONFIG_PACKAGE_kmod-fs-cifs=m
CONFIG_PACKAGE_kmod-fs-ext4=m
CONFIG_PACKAGE_kmod-fs-ksmbd=m
CONFIG_PACKAGE_kmod-fs-nfs=m
CONFIG_PACKAGE_kmod-fs-nfs-common=m
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=m
CONFIG_PACKAGE_kmod-fs-nfs-ssc=m
CONFIG_PACKAGE_kmod-fs-nfs-v3=m
CONFIG_PACKAGE_kmod-fs-nfs-v4=m
CONFIG_PACKAGE_kmod-fs-nfsd=m
CONFIG_PACKAGE_kmod-fs-ntfs=m
CONFIG_PACKAGE_kmod-fs-ntfs3=m
CONFIG_PACKAGE_kmod-fs-squashfs=m
CONFIG_PACKAGE_kmod-fuse=m
##Netfilter Extensions
CONFIG_PACKAGE_kmod-ipt-ipsec=m
CONFIG_PACKAGE_kmod-br-netfilter=m
CONFIG_PACKAGE_kmod-ipt-conntrack-extra=m
CONFIG_PACKAGE_kmod-ipt-extra=m
CONFIG_PACKAGE_kmod-ipt-nat6=m
CONFIG_PACKAGE_kmod-ipt-ipopt=m
CONFIG_PACKAGE_kmod-ipt-nat-extra=m
CONFIG_PACKAGE_kmod-ipt-offload=m
CONFIG_PACKAGE_kmod-nf-conntrack-netlink=m
CONFIG_PACKAGE_kmod-nf-flow=m
CONFIG_PACKAGE_kmod-nf-ipvs=m
CONFIG_PACKAGE_kmod-nft-bridge=m
CONFIG_PACKAGE_kmod-nft-core=m
CONFIG_PACKAGE_kmod-nft-netdev=m

## Network Devices
CONFIG_PACKAGE_kmod-tg3=y
CONFIG_PACKAGE_kmod-be2net=y
## Network Support
CONFIG_PACKAGE_kmod-oaf=m
CONFIG_PACKAGE_kmod-inet-diag=m
CONFIG_PACKAGE_kmod-batman-adv=m
CONFIG_PACKAGE_kmod-bonding=m
CONFIG_PACKAGE_kmod-gre=m
CONFIG_PACKAGE_kmod-ip6-tunnel=m
CONFIG_PACKAGE_kmod-ipsec=m
CONFIG_PACKAGE_kmod-ipsec4=m
CONFIG_PACKAGE_kmod-ipsec6=m
CONFIG_PACKAGE_kmod-iptunnel6=m
CONFIG_PACKAGE_kmod-l2tp=m
CONFIG_kmod-l2tp-eth=m
CONFIG_kmod-l2tp-ip=m
CONFIG_PACKAGE_kmod-pppol2tp=m
CONFIG_PACKAGE_kmod-sched=m
CONFIG_PACKAGE_kmod-sched-cake=m
CONFIG_PACKAGE_kmod-sched-connmark=m
CONFIG_PACKAGE_kmod-shortcut-fe=m
CONFIG_PACKAGE_kmod-shortcut-fe-cm=m
CONFIG_PACKAGE_kmod-sit=m
CONFIG_PACKAGE_kmod-tcp-bbr=m
CONFIG_PACKAGE_kmod-tun=m
CONFIG_PACKAGE_kmod-veth=m
CONFIG_PACKAGE_kmod-wireguard=m
CONFIG_PACKAGE_kmod-xfrm-interface=m
##Other modules
CONFIG_PACKAGE_kmod-ikconfig=m
CONFIG_PACKAGE_kmod-keys-encrypted=m
CONFIG_PACKAGE_kmod-keys-trusted=m
CONFIG_PACKAGE_kmod-random-core=m
CONFIG_PACKAGE_kmod-tpm=m
## Sound Support
CONFIG_PACKAGE_kmod-sound-core=m
CONFIG_PACKAGE_kmod-sound-hda-core=m
CONFIG_PACKAGE_kmod-sound-hda-codec-hdmi=m
CONFIG_PACKAGE_kmod-sound-hda-codec-realtek=m
CONFIG_PACKAGE_kmod-sound-hda-codec-via=m
CONFIG_PACKAGE_kmod-sound-hda-intel=m
CONFIG_PACKAGE_kmod-sound-i8x0=m
CONFIG_PACKAGE_kmod-sound-via82xx=m
CONFIG_PACKAGE_kmod-usb-audio=m
## USB Support
CONFIG_PACKAGE_kmod-usb-printer=m
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb2-pci=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_apk=y
CONFIG_PACKAGE_alpine-keys=y
CONFIG_PACKAGE_alpine-repositories=y
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_bsdtar=y
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_docker=m
CONFIG_PACKAGE_dockerd=m
CONFIG_PACKAGE_fdisk=y
CONFIG_PACKAGE_htop=n
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_nano=n
CONFIG_PACKAGE_openssh-sftp-client=n
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_snmpd=y
CONFIG_PACKAGE_unzip=n
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_vim=n
CONFIG_PACKAGE_zsh=n
CONFIG_PACKAGE_zip=y
CONFIG_PACKAGE_ipv6helper=y

# theme
CONFIG_PACKAGE_luci-theme-atmaterial=y
